.container{
    height: 50px;
    padding: 25px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 100%;
}

.logo{
    height: 50px;
}

.logo img{
    height: 40px;
}

.nav {
    display: flex;
    gap: 10px;
}
.language-selector, .sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.language-selector {
    background-color: rgb(2, 90, 253);
    color: #fff;
    border: 1px solid #fff;
}
.language-selector i{
    margin: 0 5px;
}
.sign-in {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}
.language-selector i {
    margin-right: 5px;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.dropdown a:hover {
    background-color: rgb(42, 92, 255);
}

.dropdown.show{
    display: block;
}