.banner-container {
    height: 89vh;
    position: relative;
}

.contents {
    text-align: center;
    color: white;

}

.contents h1 {
    margin-top: 50px;
    font-size: 70px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: lowercase;
}
.contents h2{
    margin-bottom: 35px;
    font-weight: 600;
}
.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.get-started input{
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    outline: none;
    font-size: small;
    background: rgb(58, 56, 56);
    color: white;
    border: white .3px solid;
    border-radius: 2px;
}
.get-started button{
    height: 60px;
    padding: 0 50px;
    background: rgb(199, 1, 1);
    outline: none;
    border: none;
    color: white;
}

